.env
.env*.local
.vercel


# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage



.env*

# vercel
.vercel

.vscode
.vscode/
.vscode/*




.claude/
.claude/settings.local.json
CLAUDE.local.md

CLAUDE.md


**/CLAUDE.md